body {
    background-color: #000000; 
    color: #ffffff;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); 
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Pinyon+Script&display=swap');
  
  :root {
  
      /* VARIABLES */
  
      /* Typography */
    --headingFont: 'DM Serif Display', sans-serif;
    --bodyFont: 'DM Serif Display', sans-serif;
  
    --baseFontSize: clamp(0.75rem, 0.78rem + 0.38vw, 1.25rem);
  
    --type-scale: 1.57;
  }
  html {
      font-size: var(--baseFontSize);
      scroll-behavior: smooth;
      font-family: var(--bodyFont);
    }
  
    h1, h2, h3, h4, h5, h6 {
      font-family: var(--headingFont);
      margin-bottom: var(--space-3);
    }  

        /* basic grids */
    main {
        width: 80vw;
        margin: 0 auto;
        }

.maingrid {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center;     /* Centers content horizontally */
    text-align: center;
}

.playlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;     /* Centers content horizontally */
}


.overlay-container {
  position: relative;
  width: 90%; /* Ensure it scales with the width of the container */
}

.overlay-container img {
  width: 100%; /* Makes the image fill the container */
  height: auto; /* Keeps the aspect ratio */
}

.overlay-container iframe {
  position: absolute;
  top: 75%; /* Aligns the iframe to the top of the container */
  left: 5%; /* Aligns the iframe to the left */
  width: 90%; /* Makes the iframe the same width as the container */
  height: 20%; /* Makes the iframe cover the entire image */
}

.overlay-container img {
  width: 100%; /* Default width */
  height: auto; /* Keep the aspect ratio */
  transition: transform 1s ease; /* Smooth transition for scaling */
}

.overlay-container img:hover {
  transform: scale(0.9); /* Scale image to 110% */
}

.custom-line {
  border: none; /* Remove default border */
  height: 1px; /* Set line thickness */
  background-color: #ffffff; /* Set color */
  margin: 2rem auto; /* Center it and add margin */
  width: 90vw; /* Line width */
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


  nav {
    margin-left: 5vw;
    height: 80px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
  }
  nav a {
      color: #ffffff;
      padding: 0 1.5rem;
  }
  
  figure img {
    width: 100px;
    height: auto;
    margin-top: 3rem;
  }
  