body {
    background-color: #000000; 
    color: #8d0707;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); 
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Pinyon+Script&display=swap');
  
  :root {
  
      /* VARIABLES */
  
      /* Typography */
    --headingFont: 'DM Serif Display', sans-serif;
    --bodyFont: 'DM Serif Display', sans-serif;
  
    --baseFontSize: clamp(0.75rem, 0.78rem + 0.38vw, 1.25rem);
  
    --type-scale: 1.57;
  }
  html {
      font-size: var(--baseFontSize);
      scroll-behavior: smooth;
      font-family: var(--bodyFont);
    }
  
    h1, h2, h3, h4, h5, h6 {
      font-family: var(--headingFont);
      margin-bottom: 0;
    }  

        /* basic grids */


.maingrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.maingrid li:nth-child(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  width: 100%;
  z-index: 1;
}

.maingrid li:nth-child(2) {
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  width: 100%;
  z-index: 1;
}

.maingrid li:nth-child(3) {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  width: 100%;
  z-index: 1;
}

.movie {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

  nav {
    margin-left: 5vw;
    height: 80px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
  }
  nav a {
      color: #8d0707;
      padding: 0 1.5rem;
  }
  
  figure img {
    width: 100px;
    height: auto;
    margin-top: 3rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.maingrid, .movie {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: start;
    justify-items: start;
}

body, main {
    margin: 0;
    padding: 0;
}

.movie h1, 
.movie h2, 
.maingrid li h1, 
.maingrid li h4 {
    padding: 0 20px; /* Adds 20px padding to the left and right */
    box-sizing: border-box; /* Ensures padding doesn’t alter the element width */
}

h3 {
  padding: 0 3vw;
  box-sizing: border-box; /* Ensures padding doesn’t alter the element width */
}

.custom-line {
  border: none; /* Remove default border */
  height: 3px; /* Set line thickness */
  background-color: #8d0707; /* Set color */
  margin: 2rem auto; /* Center it and add margin */
  width: 90vw; /* Line width */
}